/*
	Theme Name: The Charleston Single
	Description: The Charleston Single Theme
	Version: 1.0.0
	Author: Creative Cache
	Author URI: https://creativecache.co/
	License: GNU General Public License v2 or later
	License URI: LICENSE
	Text Domain: charleston-single
*/

/*---------------
General Styles
---------------*/

* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a.button {
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	background-color: #315f72;
	color: #fff;
	border: 2px solid #315f72;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 1.25em;
    display: inline-block;
    margin-top: 1em;
	font-weight: 600;
	letter-spacing: .5px;
}

a.button:hover {
	background-color: #fff;
	color: #315f72;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
  	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

.clear {
    clear: both;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1500px;
	padding: 0 50px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

/*---------------
Header
---------------*/

header {
	background-color: #fff;
}

header .container {
	display: table;
}

.site-info {
	display: table-cell;
	vertical-align: middle;
	font-weight: 400;
	font-size: 2em;
	font-family: 'Playfair Display', serif;
}

.site-info a {
	display: inline-block;
	padding: 10px 0;
	vertical-align: middle;
	color: #000;
	text-decoration: none;
	position: relative;
}

.site-info .floated {
	position: absolute;
    font-size: 11px;
    top: 11px;
    left: 36px;
}

.site-info img {
	display: block;
	max-width: 300px;
	width: auto;
	height: auto;
	max-height: 45px;
	display: none;
}

.right-header {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.mobile-menu {
	display: none;
}

#main-nav {
	font-family: 'Playfair Display', serif;
}

#main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#main-nav ul li {
	display: inline-block;
	margin-left: 10px;
}

#main-nav ul li a {
	font-family: 'Playfair Display', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.05em;
	text-decoration: none;
	padding: 5px 0;
	border-bottom: 2px solid transparent;
}

#main-nav ul li a:hover {
	border-bottom: 2px solid #000;
}

#main-nav ul li.menu-button a {
	background-color: #315f72;
	color: #fff;
	border: 2px solid #315f72;
	padding: 5px 10px;
	border-radius: 5px;
}

#main-nav ul li.menu-button a:hover {
	background-color: #fff;
	color: #315f72;
}

/*---------------
Home Page
---------------*/

#home-banner {
	display: table;
	min-height: 400px;
	width: 100%;
	position: relative;
	z-index: 0;
}

#home-banner::before {
	content: '';
	position: absolute;
	background-image: url('https://burst.shopifycdn.com/photos/sunset-in-the-distance-with-people-on-the-boardwalk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

#home-banner .home-content {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 2em;
	text-align: center;
	color: #fff;
}

#home-banner .home-content h2 {
	font-size: 2em;
    max-width: 700px;
    margin: 0 auto .83em;
}

#home-banner .home-content p {
    max-width: 700px;
	margin: 0 auto;
}

#level-display {
	background-color: #315f72;
	color: #fff;
	min-height: 100vh;
	height: 100vh;
}

#level-display .change-image {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

#level-display .change-image img {
	width: 100%;
	height: auto;
	padding: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 0;
	display: block;
}

#level-display .change-image img:not(.base-image) {
	display: none;
	z-index: 2;
}

#level-display .change-image img.faded-image {
	z-index: 1;
}

#level-display .details {
	float: left;
	width: 50%;
	position: relative;
	height: 100%;
}

#level-display .details > ul {
	margin: 0;
	list-style: none;
	padding: 2em;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#level-display .details > ul > li {
	
}

#level-display .details > ul > li > button {
	border: none;
    background: transparent;
    color: #fff;
    text-align: left;
	cursor: pointer;
}

#level-display .details h3 {
	
}

#level-display .details p {
	
}

/*---------------
Footer
---------------*/

.copyright {
    font-size: .65em;
    text-align: center;
}

/*---------------
Responsive
---------------*/

@media screen and (max-width: 768px) {
	.mobile-menu {
		display: block;
	}
	
	#level-display {
		min-height: 0 !important;
		height: auto;
	}
	
	#level-display .change-image,
	#level-display .details {
		float: none;
		width: 100%;
	}
	
	
	
	#level-display .change-image img.base-image,
	#level-display .details > ul {
		position: static;
		transform: none;
	}
}

@media screen and (max-width: 425px) {

}

@media print {
	html,
	body {
		margin: 5px;
	}
}